{% if site.data.settings.certifications %}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.certifications-title }}</h2>
      </div>
      {% for certifications in site.data.settings.certifications %}
      <div class="col-lg-12 text-center">
        <img src=https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/56235537>
        <p class="mb-0">{{ certifications.date }}</p>
        <h4>{{ certifications.name }}</h4>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./certifications -->
{% endif %}